# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/WhateverIWant/nbproject/private/
/WhateverIWant/build/
/Sandbox/nbproject/private/
/Sandbox/build/
/Data Only/nbproject/private/
/Data Only/build/
/JavaDoc/nbproject/private/
/Area of a Circle/nbproject/private/
/Area of a Circle/build/
/Random Numbers/nbproject/private/
/Random Numbers/build/
/Prime Numbers/nbproject/private/
/Prime Numbers/build/
/Iterating the Arguments/nbproject/private/
/Iterating the Arguments/build/
/Area of a Circle/dist/
/Random Numbers/dist/
/Prime Numbers/dist/
/Gerbil Arraylist/nbproject/private/
/Gerbil Arraylist/build/
/Gerbil Map/nbproject/private/
/Gerbil Map/build/
/Gerbil Arraylist/dist/
/Gerbil Map/dist/
/FoodBank/nbproject/private/
/FoodBank/build/
/CalculatingPi/nbproject/private/
/CalculatingPi/build/
/CalculatingPi/dist/
/FirstGUI/nbproject/private/
/FirstGUI/build/
/PiGUI/nbproject/private/
/PiGUI/build/
/HomeworkTracker/nbproject/private/
/HomeworkTracker/build/